<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>CodeFlix - Menu</ion-title>
      <button ion-item menuClose color="dark" (click)="mySetting()">
        <ion-avatar item-left>
          <img [src]="gravatarUrl">
        </ion-avatar>
        <h4>{{user?.name}}</h4>
      </button>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list *ngIf="!(user?.subscription_valid);else menu_subscriber">
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" color="dark">
        {{p.title}}
      </button>
    </ion-list>
    <!-- Menu Assinante -->
    <ng-template #menu_subscriber>
      <ion-list>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" color="dark">
          {{p.title}}
        </button>
      </ion-list>
    </ng-template>
  </ion-content>
  <ion-footer>
      <button ion-button menuClose text-right large color="light" block clear icon-right (click)="logout()">
           Logout <ion-icon name="exit"></ion-icon>
      </button>
  </ion-footer>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
